@page "/pegawai/create/"
@rendermode InteractiveServer
@inject PegawaiService _pegawaiService;
@attribute [StreamRendering]

<PageTitle>Pegawai</PageTitle>


<div class="col-6">

  <h1>Buat Data Pegawai</h1>

  <p>Buat Data Pegawai untuk dimasukan ke database dan untuk melihat gaji</p>

  <EditForm Model=@pegawaiVM class="" OnValidSubmit="SubmitForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
      <label class="form-label">Nama Pegawai : @pegawaiVM.NamaPegawai</label>
      <InputText class="form-control" @bind-Value="pegawaiVM.NamaPegawai" />
    </div>
    <div class="mb-3">
      <label class="form-label">Tanggal Masuk: @pegawaiVM.TanggalMasuk.ToShortDateString()</label>
      <InputDate class="form-control" @bind-Value="pegawaiVM.TanggalMasuk" />
    </div>
    <div class="mb-3">
      <label class="form-label">Jenis Kelamin : @Pegawai.ToJenisKelaminString(pegawaiVM.JenisKelamin)</label>
      <InputSelect class="form-select" @bind-Value="pegawaiVM.JenisKelamin">
        @foreach (var jenisKelamin in Enum.GetValues<JenisKelamin>())
        {
          <option value="@jenisKelamin">@Pegawai.ToJenisKelaminString(jenisKelamin)</option>
        }
      </InputSelect>
    </div>
    <div class="mb-3">
      <label class="form-label">Status : @pegawaiVM.JenisStatus</label>
      <InputSelect class="form-control" @bind-Value="pegawaiVM.JenisStatus">
        @foreach (var status in Enum.GetValues<JenisStatusEnum>())
        {
          <option value="@status">@status @Status.GetDescription(status)</option>
        }
      </InputSelect>
    </div>
    <div class="mb-3">
      <label class="form-label">Gaji Pokok: @pegawaiVM.GajiPokok</label>
      <InputNumber class="form-control" @bind-Value="pegawaiVM.GajiPokok" />
    </div>
    <div class="mb-3">
      <label class="form-label">Uang Makan: @pegawaiVM.UangMakan</label>
      <InputNumber class="form-control" @bind-Value="pegawaiVM.UangMakan" />
    </div>
    <div class="mb-3">
      <label class="form-label">Uang Transport: @pegawaiVM.UangTransport</label>
      <InputNumber class="form-control" @bind-Value="pegawaiVM.UangTransport" />
    </div>
    <div class="mb-3">
      <label class="form-label">Nilai Tunjangan: @pegawaiVM.NilaiTunjangan</label>
    </div>

    <input class="btn btn-outline-dark" type="submit" value="Create">
  </EditForm>
</div>


@code {
  PegawaiRequest pegawaiVM = new();

  private async Task SubmitForm()
  {
    var createResult = await _pegawaiService.CreatePegawai(pegawaiVM);
  }
}